@import "global/fonts";
@import "global/reset";
@import "global/variable";
@import "global/base";

// HEADER
.header {
  --padding-top: 60px;
  --padding-bottom: 60px;
  --avt-size: 60px;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  .header__avt {
    flex-shrink: 0;
    width: var(--avt-size);
    height: var(--avt-size);
    border-radius: 50%;
    overflow: hidden;
  }
  @media screen and (max-width: 425px) {
    --avt-size: 40px;
  }
}

// BUTTON
.btn {
  background-color: transparent;
  display: inline-block;
  border: none;
}

.btn-round {
  --btn-size: 40px;
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--basic-hover);
  }
  &:active {
    background-color: var(--basic-hover);
    i {
      transform: scale(0.8);
    }
  }
  i {
    color: var(--gray-color);
    font-size: 2.5rem;
  }
}


// MAIN APP
.app {
  &__input {
    background-color: var(--light-gray-color);
    padding: 30px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    input {
      margin-left: 10px;
      width: 100%;
      background-color: transparent;
      border: none;
      font-size: 30px;
    }
    .btn-round:hover {
      transform: scale(1.1);
    }
  }
}
