node_modules
# Created by https://www.toptal.com/developers/gitignore/api/dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv

### dotenv ###
.env
src/config/.env

# End of https://www.toptal.com/developers/gitignore/api/dotenv
app/
javascripts.md

.vscode