* {
  transition: all 0.25s ease-in-out;
  font-family: var(--main-font);
}

h1 {
  font-size: var(--title-header);
  font-weight: var(--bold);
}

a {
  color: var(--primary-color);
  &:hover {
    color: var(--third-color);
  }
}

body {
  font-size: var(--body-size);
  color: var(--text-color);
  position: relative;
  min-height: 100vh;
  font-family: var(--main-font);
  line-height: 1.8;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}
