:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 98%);
  --gray-border: hsl(0, 0%, 90%);
  --gray: hsl(0, 0%, 48%);
  --black: hsl(0, 0%, 30%);
  --light-black: hsl(0, 0%, 50%);
  --primary: hsl(164, 76%, 47%);
  --secondary: hsl(164, 76%, 65%);
  --third: hsl(164, 76%, 45%);
  --basic-hover: hsl(0, 0%, 90%);

  --main-font: "Noto Sans", sans-serif;

  --body-size: clamp(17px, 5vw, 18px);
  --title-header: clamp(35px, 7vw, 55px);
  --imply-size: clamp(15px, 4vw, 20px);
  --link-size: clamp(15px, 4vw, 20px);
  --task-name: clamp(17px, 5vw, 27px);
  --bold: 700;
  --normal: 400;

  --padding-container: 20px;
}
