@import "global/fonts";
@import "global/reset";
@import "global/variable";
@import "global/base";
@import "components/header";

// MAIN APP
.app {
  width: 100%;
  height: 530px;
  display: flex;
  .col.d-flex {
    height: 100%;
  }
}

.app__input {
  --font-size: clamp(16px, 5vw, 25px);
  --padding-input: 20px;
  background-color: var(--light-gray-color);
  padding: 30px;
  width: 100%;
  padding: var(--padding-input);
  border-radius: 15px;
  input {
    margin-left: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: var(--font-size);
  }
  .btn-round:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: 425px) {
    // --font-size: 20px;
    --padding-input: 10px;
  }
}

.tasks {
  display: flex;

  &.is-blank {
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      width: 360px;
      margin-bottom: 30px;
    }

    .tasks__imply {
      text-align: center;
      font-size: var(--imply-size);
      margin-bottom: 10px;
    }
    .tasks__link {
      font-size: var(--link-size);
      text-align: center;
    }

    @media screen and (max-width: 425px) {
      img {
        width: 100%;
      }
    }
  }
}
