/* width */
::-webkit-scrollbar {
  transition: all 0.25 ease-in-out;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  // background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  transition: all 0.25s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}
