@use "../abstracts/mixins" as *;

.tasks {
  --height: 45vh;
  display: flex;
  width: 100%;
  height: var(--height);
  overflow-y: auto;
  position: relative;
  &.has-task::after {
    content: "";
    position: absolute;
    // z-index: 5;
    bottom: 0;
    width: inherit;
    height: 70px;
    background: linear-gradient(
      0deg,
      var(--body-bg-color),
      rgba(255, 255, 255, 0)
    );
  }
  &.is-blank {
    justify-content: center;
    align-items: center;
  }

  &__blank {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      width: 360px;
      margin-bottom: 30px;
    }

    .tasks__imply {
      text-align: center;
      font-size: var(--imply-font-size);
      margin-bottom: 10px;
    }
    .tasks__link {
      font-size: var(--link-font-size);
      text-align: center;
    }
  }
  @include responsive("mobile") {
    --height: 55vh;

    img {
      width: 100%;
    }
  }
}
