@use "../abstracts/" as *;

.header {
  --padding-top: 55px;
  --padding-bottom: 45px;
  --avt-size: 60px;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  &__avt {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--avt-size);
    height: var(--avt-size);
    border-radius: 50%;
    overflow: hidden;
  }
  &__avt-icon {
    font-size: rem(60);
    line-height: 1;
  }
  @include responsive("mobile") {
    --avt-size: 40px;
    --padding-top: 45px;
    --padding-bottom: 25px;
    &__avt-icon {
      font-size: rem(50);
    }
  }
}
