// MAIN APP
.app {
  width: 100%;
  display: flex;
  position: relative;
  &.has-task::after {
    content: "";
    position: absolute;
    z-index: 5;
    bottom: 0;
    width: inherit;
    height: 70px;
    background: linear-gradient(
      0deg,
      var(--body-bg-color),
      rgba(255, 255, 255, 0)
    );
  }
}
