<div class="tasks__blank col js-blank-task">
<img src="/images/illustration_empty.svg" alt="Nothing here" />
    <p class="tasks__imply">
        Chào buổi sáng. Hãy bắt đầu ngày mới với 5 nhiệm vụ quan trọng nhất.
    </p>
<a href="#" class="tasks__link">Tại sao chỉ với 5?</a>
</div>