<div class="app__input d-flex">
    <button class="btn btn-round js-add-button"><i class="ri-add-fill"></i></button>
    <input class="js-input" type="text" placeholder="Hôm nay bạn sẽ làm gì?" />
</div>