<header class="header container row d-flex flex-between">
    <h1 class="header__title">Single Task</h1>
    <div class="avt-user header__avt">
    <i class="ri-account-circle-fill header__avt-icon"></i>
    </div>
</header>