<header class="header container row d-flex flex-between">
    <h1 class="header__title">Single Task</h1>
    <div class="avt-user header__avt">
    <img src="https://source.unsplash.com/random" alt="" />
    </div>
</header>