<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Task - Less is more</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet" href="/css/main.css">
    <script defer type="module" src="/js/main.js"></script>
</head>
<body>
    {{> header}}
    <main class="app container col d-flex">
    {{{body}}}
    </main>
</body>
</html>